@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

body{
   font-family: 'Encode Sans', sans-serif;
}

body {
background:plum;
}

h1 {
  color: #455A64;
}

h2 {
  color: purple;
}

h3 {
  color: #D81B60;
}

p {
  font-size: 2rem;
}

header, footer {
  background:#ABB2B9 ;
}
